<!-- DASHBOARD VIEW -->
<div id="drupalvm-dashboard">
  <div style="float: right;">
    <button id="drupalvm_start" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
    <button id="drupalvm_stop" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
    <button id="drupalvm_provision" class="btn btn-warning" type="submit" style="display: none;"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></button>
  </div>
  <h1 class="page-header">Dashboard</h1>

  <br><br><br>

  <h6>Debugging info</h6>

  <table class="table table-striped" id="versionsTable">
    <tbody>
      <!--
      <tr>
        <th scope="row">Node</th>
        <td><script type="text/javascript">document.write(process.versions.node);</script></td>
      </tr>
      <tr>
        <th scope="row">Chrome</th>
        <td><script type="text/javascript">document.write(process.versions.chrome);</script></td>
      </tr>
      <tr>
        <th scope="row">Electron</th>
        <td><script type="text/javascript">document.write(process.versions.electron);</script></td>
      </tr>
      <tr>
        <th scope="row">Vagrant</th>
        <td>...</td>
      </tr>
      -->
    </tbody>
  </table>
</div>
<!-- END DASHBOARD VIEW -->