<!-- SITES VIEW -->
<div id="panel_drupalvm_sites" class="drupalvm_section">
  <h1 class="page-header">Sites <a href="#" id="addSite" style="float: right;"><i class="fa fa-plus-circle"></i></a></h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>URL</th>
        <th>Database</th>
        <th class="drupalvm_sites_icons">Actions</th>
        <th class="drupalvm_sites_icons">Edit</th>
      </tr>
    </thead>
    <tbody id="drupalvmSites">
    </tbody>
  </table>
</div>
<!-- END SITES VIEW -->